<div class="container" id="description">
    <div class="container" id="description-left">
        <h2>My projects</h2>
        {{> projectList }}
    </div>
    <div class="container" id="description-right">
        <a id="link-project" href="/{{selectedProject.directory}}">{{playWith selectedProject.name}}</a>
        <div class="parent-screenshot">
            <img 
            class="description-image"
            src="/{{selectedProject.directory}}/screenshot.jpg" 
            alt="screenshot of project">
        </div>
        <p class="description-text">{{selectedProject.description}}</p>
    </div>
</div>