<div class="container" id="single-project">
    {{#projects}}
    <h2 class="project-name">{{project}}</h2>
    <img class="screenshot" src="/{{project}}/screenshot.jpg" alt="screenshot of project">
    <a class="link-project" href="/{{project}}">Inspect project here</a>
    {{/projects}}
</div>
    