@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Amatic SC", cursive;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 15% 70% 15%;
    width: 100%;
}

header {
    position: relative;
    top: 0px;
    height: 150px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 8;
    justify-content: center;
    align-items: center;
}

#main-header {
    font-size: 45px;
}

#header-intro {
    font-size: 25px;
    position: relative;
    top: -20px;
}

#divisory-above {
    background-color: black;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 150px;
}

#divisory-below {
    background-color: black;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 100px;
}

footer {
    background-color: whitesmoke;
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

#all-projects {
    flex-direction: row;
    position: relative;
    top: 130px;
    grid-column: 2 / span 6;
}

#single-project {
    padding: 15px;
}

.screenshot {
    width: 200px;
    height: 200px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    border: black solid 2px;
}

#link-project {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Description */

#description {
    display: flex;
    flex-direction: row;
    top: 50px;
}

#description-left {
    position: relative;
    top: 0px;
    grid-column: 1 / span 3;
    margin-left: 30px;
}

#description-left #link-project {
    font-size: 30px;
    text-decoration: none;
    font-weight: 900;
    text-align: start;
    margin-left: -20px;
}

#description-left h2 {
    font-size: 40px;
    text-decoration: underline;
}

#description-right {
    position: relative;
    top: 30px;
    grid-column: 4 / span 4;
    margin-left: 120px;
}

#description-right #link-project {
    font-size: 50px;
    text-decoration: none;
    text-align: start;
}

.parent-screenshot {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 500px;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 0% 15% 15% 15% / 20% 20% 20% 20%;
}

.description-image {
    width: 600px;
    height: 500px;
    border-radius: 0% 15% 15% 15% / 20% 20% 20% 20%;
    object-fit: cover;
    transition: all .5s;
}

.parent-screenshot:hover .description-image,
.parent-screenshot:focus .child {
    transform: scale(1.2);
}

.description-text {
    position: relative;
    font-size: 25px;
}
