@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Amatic SC", cursive;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 15% 70% 15%;
    width: 100%;
}

header {
    position: relative;
    top: 0px;
    height: 150px;
    width: 100%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 8;
    justify-content: center;
    align-items: center;
}

#main-header {
    font-size: 45px;
}

#header-intro {
    font-size: 25px;
    position: relative;
    top: -20px;
}

footer {
    background-color: pink;
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

#all-projects {
    flex-direction: row;
    position: relative;
    top: 130px;
    grid-column: 2 / span 6;
}

#single-project {
    padding: 25px;
}

.screenshot {
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

#link-project {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Description */

#description {
    display: flex;
    flex-direction: row;
    top: 50px;
}

#description-left {
    position: relative;
    top: 0px;
    grid-column: 1 / span 3;
    margin-left: 30px;
}

#description-right {
    position: relative;
    top: 0px;
    grid-column: 4 / span 4;
    margin-left: 100px;
}

.description-image {
    position: relative;
    width: 600px;
    height: 400px;
}

.description-text {
    position: relative;
}
