<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My awesome Portfolio 👽</title>
    <link rel="stylesheet" href="/style.css" class="css">
</head>
    <header>
        <h1 id="main-header">CARLOS' awesome portfolio of projects</h1>
        <p id="header-intro">Welcome to my portfolio. Feel free to navigate through them and get delighted by my sofisticated and sensitive way of coding</p>
    </header>
    
    {{{body}}}

    <footer>
        <p>This is truly mine. All Rights Reserved. Copyrights bla bla bla ©</p>
    </footer>
</html>